@{
    ViewBag.Title = "Nosotros";
}
<div class="page-header">
    <h2>Sobre Nosotros</h2>
</div>
<section id="nosotros">
    <div class="row">
        <div class="col-md-3">
            <div class="about-us-left" style="text-align:center;">
                <img src="~/images/left-man.png" alt="left-man">
            </div>
        </div>
        <div class="col-md-9">
            <div class="about-us-right">
                <p>
                    Lindcorp Retail - Tiendas Tambo+, es una cadena de practi-tiendas que ofrecen los beneficios del canal moderno, en formato
                    pequeño más cerca a nuestros clientes.
                </p>
                <p>
                    Pertenecemos al Lindcorp negocio de la familia Lindley, que han estado comprometidos por décadas en el desarrollo del
                    país.
                </p>
                <p>
                    Abrimos nuestra primera tienda en Abril del 2015 en Comas y desde ese día no hemos parado. Contamos a la fecha con más
                    de 80 tiendas lo que nos convierte en la cadena de tiendas de conveniencia más grande del país.
                </p>
                <p>Hoy día ofrecemos empleo digno a más de 550 personas y somos una empresa 100% peruana.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img src="~/images/tienda01.jpg" class="img-responsive" />
        </div>
        <div class="col-md-7">
            <div class="mission-text-main">
                <h3>Misión</h3>
                <h5>
                    Ser elegidos como el mejor lugar para comprar y trabajar, brindándole al cliente una atención amable, rápida, práctica
                    y confiable con productos variados a precios competitivos y de buena calidad que satisfaga sus necesidades y cumpla
                    con sus expectativas.
                </h5>
                <h3>Visión</h3>
                <h5>Ser la cadena líder del mercado Peruano en número de establecimientos y en rentabilidad.</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="mission-text-main pull-right">
                <h3>Valores</h3>
                <h4>Integridad:</h4>
                <p>
                    Actuar con respeto, honestidad y compromiso. Ser íntegro es: Ser coherente entre lo que digo y lo que hago. Hacer lo
                    correcto Decir la verdad Respetar las ideas de los demás Cumplir lo que prometo.
                </p>
                <h4>Innovación:</h4>
                <p>
                    Buscar nuevas formas de sorprender a nuestros clientes. Ser innovador es: Ir más allá de las expectativas de mi cliente.
                    Ser creativo en la búsqueda de soluciones Preguntarme cómo podría hacer las cosas, diferente. Compartir mis ideas con
                    mi equipo. Tomar la iniciativa.
                </p>
                <h4>Pasión:</h4>
                <p>
                    Creemos firmemente en que podemos hacer más sencillo el día a día de nuestros clientes, por ello no cesamos en desarrollar
                    nuevas experiencias que marquen la diferencia y logren satisfacer las necesidades de la gente.
                </p>
                <h4>Trabajo en Equipo:</h4>
                <p>
                    Es unir esfuerzos y compartir un propósito común conocido por todos, para entregar resultados de valor para nuestra organización,
                    clientes y usuarios. Es trabajar con entusiasmo, manteniendo una comunicación efectiva, aportando diferentes puntos
                    de vista, que permita engrandecer las ideas y aportes de todos.
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <img src="~/images/tienda02.jpg" class="img-responsive" />
        </div>
    </div>
</section>
